path {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  ._1P_Path_ {
    stroke-dasharray: 253;
    animation: write1 7s linear;
  }
  ._2P_Path_ {
    stroke-dasharray: 550;
    animation: write2 7s linear;
  }
  ._3iyush_Path_ {
    stroke-dasharray: 1791;
    animation: write3 7s linear;
  }
  ._4Path_ {
    stroke-dasharray: 502;
    animation: write4 7s linear;
  }
  ._5Path_ {
    stroke-dasharray: 37;
    animation: write5 7s linear;
  }
  
  /*  keyframes */
  @keyframes write1 {
    0% {
        stroke-dashoffset: 253;
    }
    25% {
        stroke-dashoffset: 0;
    }
  }
  @keyframes write2 {
    0%, 25% {
        stroke-dashoffset: 550;
    }
    35% {
        stroke-dashoffset: 0;
    }
  }
  @keyframes write3 {
    0%, 35% {
        stroke-dashoffset: 1791;
    }
    80% {
        stroke-dashoffset: 0;
    }
  }
  @keyframes write4 {
    0%, 55% {
        stroke-dashoffset: 502;
    }
    90% {
        stroke-dashoffset: 0;
    }
  }
  @keyframes write5 {
    0%, 70% {
        stroke-dashoffset: 37;
    }
    100% {
        stroke-dashoffset: 0;
    }
  }