/* take a bunch of the svg attributes and place them here for the sake of dryness */
path,
line {
  fill: none;
  stroke: #000;
  /* stroke-width: 170; */
  stroke-width: 10;

  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 100;
}

.stroke-P{
    stroke-dasharray: 18159;
    animation: write1 4s 1 ease-in-out;
}

/*  keyframes */
@keyframes write1 {
    0% {
        stroke-dashoffset: 18159;
    }
    25% {
        stroke-dashoffset: 0;
    }
}

.stroke-iyus{
    stroke-dasharray: 30330;
    animation: write1 6s 1 ease-out;
}
@keyframes write2 {
    0%, 25% {
        stroke-dashoffset: 30330;
    }
    50% {
        stroke-dashoffset: 0;
    }
}

.stroke-h{
    stroke-dasharray: 11920;
}
@keyframes write3 {
    0%, 50% {
        stroke-dashoffset: 11920;
    }
    75% {
        stroke-dashoffset: 0;
    }
}
.stroke-idot{
    stroke-dasharray: 915;
    /* stroke-dashoffset: 1; */
} 

@keyframes write4 {
    0%, 75% {
        stroke-dashoffset: 915;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
/*Hi*/
stroke-width: 10;
Ggbn
